@font-face {
  font-family: "Raleway";
  src: url("./src/assets/fonts/Raleway-VariableFont_wght.ttf")
    format("truetype");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #282429;
  color: #e6e7e6;
  font-family: Raleway;
}

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #e6e7e6;
}

button {
  all: unset;
  background-color: #bb3296;
  color: #e6e7e6;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: 0.2s ease;
}

button:hover {
  background-color: #bb0e8d;
}

.violet {
  color: #bb3296;
  /* color: #955eb4; */
}
