@font-face {
  font-family: "Raleway";
  src: url("./assets/fonts/Raleway-VariableFont_wght.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: grid;
  grid-template-rows: 1fr 5fr 1fr;
  height: auto;
  background-color: #282429;
  color: #e6e7e6;

  font-family: Raleway;
}

a {
  text-decoration: none;
  font-size: 1.2rem;
}

a:hover {
  text-decoration: underline;
}

.violet {
  color: #955eb4;
}
